<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APISanityTestSuite" verbose="5" parallel="classes"
	thread-count="19" preserve-order="true">

	<test name="Java Management SDK Sanity tests">
		<classes>
			<class name="com.contentstack.cms.stack.APISanityTestSuite"/>
		</classes>
	</test>

	<listeners>
        <listener class-name="com.contentstack.cms.SlackReportingListener" />
    </listeners>
</suite>